@font-face {
    font-family: 'RobotoLight';
    src: url('~Fonts/RobotoLight.eot');
    src: url('~Fonts/RobotoLight.eot') format('embedded-opentype'),
         url('~Fonts/RobotoLight.woff2') format('woff2'),
         url('~Fonts/RobotoLight.woff') format('woff'),
         url('~Fonts/RobotoLight.ttf') format('truetype'),
         url('~Fonts/RobotoLight.svg#RobotoLight') format('svg');
}