// Fonts
@import 'font';
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background: url("~Images/pattern.jpg") no-repeat center center fixed;
    background-size: cover;

}


