cart:
<template>
    <div class="container">
        <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Shopping cart
            </div>
            <div class="card-body" v-for="product in cart" v-bind:key="product.id">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-2 text-center">
                        <img class="img-responsive" :src="product.photo" alt="prewiew" width="80" height="80">
                    </div>
                    <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                        <h4 class="product-name"><strong>{{product.name}} <span v-if="product.product_id">- {{product.variation}}</span></strong></h4>
                    </div>
                    <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                        <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                            <h6><strong>{{product.price}} €</strong></h6>
                            <h6><span class="text-muted">({{calculatePrice(product)}} €)</span></h6>
                        </div>
                        <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                            <h6><strong>Quantity: <span class="text-muted">{{product.quantity}}</span></strong></h6>
                            <a href="" v-on:click.prevent="removeFromCart(product.id)"><span style="font-size:30px;">-</span></a>
                            <a href="" v-on:click.prevent="addToCart(product.id)"><span style="font-size:30px;">+</span></a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div v-if = !cart.length>
                <h3 class="py-5 text-center">Cart is empty ! :(</h3>
            </div>
            <div class="card-footer text-center">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" v-on:click.prevent="storeCart()" ><button class="btn btn-success">Save</button></a>
                        <a href="#" v-on:click.prevent="emptyCart()"><button class="btn btn-danger">Empty cart</button></a>
                    </div>
                    <div class="col-md-6">
                        Total price: <b>{{total.toFixed(2)}} €</b>
                    </div>
                </div>
            </div>            
        </div>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Your products have been saved!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container text-center d-flex flex-column justify-content-around">
                            <span class="link">
                                <h4 style="background-color:#e6e6e6; border-radius:25px" class="py-2">{{productsLink}}</h4>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
	beforeCreate: async function () {
		try{
			// eslint-disable-next-line no-undef
			const request = await axios.get('./getUser');
			return request;
		} catch(error){
			if(error.response.status === 401){
				this.$router.push('/');
			}
		} 
	},
	data(){
		return {
			cart: [],
			product:{},
			total:0,
			productsLink : '',
		};
	},
	mounted()
	{
		this.getContent();
	},
	methods: {
		async getContent()
		{   
			try{
				// eslint-disable-next-line no-undef
				const request = await axios.get('./cart');
				this.cart = request.data;
				this.totalPrice();
			} catch(error){
				console.log(error.response);
			} 
		},
		async addToCart(id){
			try {
				var found = this.cart.find(function(element) {
					return element.id === id;
				});
				found.quantity++;
				// eslint-disable-next-line no-undef
				await axios.get('./products/add-to-cart/'+id);
				this.getContent();
			} catch (error) {
				console.log(error);
			}
		},
		async removeFromCart(id){
			try {
				var found = this.cart.find(function(element) {
					return element.id === id;
				});
				found.quantity--;
				// eslint-disable-next-line no-undef
				await axios.get('./cart/remove-from-cart/'+id);
				this.getContent();
			} catch (error) {
				console.log(error);
			}
		},
		async emptyCart(){
			if(confirm('Are you sure?') === true){
				try{
					// eslint-disable-next-line no-undef
					await axios.get('./cart/flush');
					this.total = 0;
					this.getContent();
				} catch(error){
					console.log(error);
				}                  
			}
		},
		totalPrice(){
			let price = 0;
			for(var id in this.cart){
				price += this.cart[id].price*this.cart[id].quantity;
			}
			this.total = price;  
		},
		calculatePrice(product){
			let price = (product.price*product.quantity).toFixed(2);
			return price;
		},
		async storeCart(){
			try{
				// eslint-disable-next-line no-undef
				const request = await axios.post('./api/cart/save',{cart : this.cart});
				if(request.data.state == 'success'){
					this.productsLink = window.location.hostname+window.location.pathname+'#wishlist/'+request.data.link;
					// eslint-disable-next-line no-undef
					$('#modal').modal('show');
				}else{
					alert('Error saving');
				}
			}catch(error){
				console.log(error.response);
			}
		},
	},
};
</script>
