product.vue:
<template>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img :src="product.photo" class="w-75">
            </div>
            <div class="col-md-5" style="align-self:center">
                <h3>{{product.name}}</h3>
                <span class="text-muted" v-for="(category, index) in categories" v-bind:key="category.id">{{category.name}}<span v-if="index+1 < categories.length">, </span></span>
                <h4 class="text-muted pt-2">{{product.price}} <strong>€</strong></h4>
                <hr>
				<p>Variations</p>
				<input type="radio" :value="product.id" id="var-0" v-model="variationRadio" checked="checked">
				<label for="var-0">No variation</label>
				<div class="varation" v-for="vari in variations" v-bind:key="vari.id">
					<input type="radio" :id="vari.id" :value="vari.id" v-model="variationRadio">
					<label :for="vari.id">{{vari.variation}}</label>
				</div>
                <p>{{product.description}}</p>
                <a href="#" v-on:click.prevent="addToCart()"><button class="btn btn-info btn-block text-center">Add to cart</button></a>
            </div>
        </div>
    </div>
</template>

<script>
export default {

	data(){
		return {
			product: {},
			variations:[],
			variationRadio: 0,
			vari:{},
			categories:[]
		};
	},
	mounted(){
		this.getData();
		this.variationRadio = this.$route.params.id;
	},
	methods:{
		async getData(){
			try{
				let id = this.$route.params.id;
				if(parseInt(id)){
					// eslint-disable-next-line no-undef
					const request = await axios.get('./api/product/'+id);
					this.product = request.data.product[0];
					this.categories = request.data.categories;
					for (let index = 1; index < request.data.product.length; index++) {
						const element = request.data.product[index];
						this.variations.push(element);
					}
				}else{
					window.location.replace('./');
				}
			}catch(error){
				console.log(error);
			}
		},
		async addToCart(){
			let productId = this.variationRadio;
			try{
				// eslint-disable-next-line no-undef
				const request = await axios.get('./products/add-to-cart/'+productId);
				if(request.data.type == 'success'){
					this.notify(request.data.msg);
				}
			} catch (error){
				if(error.response.status === 401){
					this.notify('Please login to add to cart!');
				}
			}
		},
		notify(text){
			// eslint-disable-next-line no-undef
			Vue.toasted.show(text,{
				action:{
					text : '\u2716',
					onClick : (e, toastObject) =>{
						toastObject.goAway(0);
					}
				},
				duration : 4000
			});
		},
	}
};
</script>

<style>

</style>
