npm Products.vue:
/* eslint-disable no-undef */
<template>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header bg-info">Filters</div>
                    <div class="card-body">
						<div class="custom-control custom-checkbox" v-for="category in categories" v-bind:key="category.id">
							<input type="checkbox" class="custom-control-input" :id="category.id" v-model="selectedCategories" :value="category.id">
							<label class="custom-control-label" :for="category.id">{{category.name}}</label>
							<span class="badge badge-pill badge-secondary">{{category.product_count}}</span>
						</div>
					</div> 
                </div>
            </div>
            <div class="col-md-9">
				<input class="mb-2" type="text" v-model="search" placeholder="Search title.."/>
                <div class="row">
                    <div class="col-md-4" v-for="product in products" v-bind:key="product.id">
                        <div class="thumbnail">
                            <router-link :to="{ name: 'product', params: { id: product.id }}"><img class="w-100" :src="product.photo" alt=""></router-link>
                            <div class="caption py-3">
                                <h4 class="d-flex">{{product.name}} <span class="badge badge-pill badge-secondary" v-if="product.variation != 0">{{product.variation}}</span></h4>
                                <p class="text-muted">{{product.categories}}</p>
								<p><strong>Price: </strong> {{product.price}} <strong>€</strong></p>
                                <a href="#" v-on:click.prevent="addToCart(product.id)"><button class="btn btn-info btn-block text-center">Add to cart</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul v-if="last_page!=1" class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" v-if="first_page != current_page" v-on:click.prevent="switchPage(current_page-1,sort)" href="#">Previous</a></li>
            <!-- foreach -->
            <li v-for="page in pages" v-bind:key="page" class="page-item" v-bind:class="page == current_page ? 'active' : ''"><a class="page-link" href="#" v-on:click.prevent="switchPage(page,sort)" >{{page}}</a></li>
            <!-- endforeach -->
            <li class="page-item"><a class="page-link" v-if="last_page != current_page" v-on:click.prevent="switchPage(current_page+1,sort)" href="#">Next</a></li>
        </ul>
    </div>
</template>
<script>
export default {
	beforeRouteLeave  (to, from, next) {
		to.params.page = this.current_page;
		to.params.selectedCategories = this.selectedCategories;
		next();
	},
	data(){
		return {
			search: '',
			products: [],
			categories: [],
			selectedCategories: [],
			cart:[],
			product:{},
	
			sort:false,
			filter_id:null,
			//Pagination
			pages:[],
			current_page: 1,
			last_page: 0,
			first_page: 1,
		};
	},
	watch:{
		selectedCategories: function(){
			if(this.selectedCategories.length == 0 || this.selectedCategories.length == 5){
				this.getContent(this.current_page);
				this.sort = false;
				return;
			}
			this.filterContent(this.current_page);
			this.sort = true;
		},
		search: function(){
			if(this.search){
				this.searchContent(this.search.toLowerCase());
			}else{
				this.getContent(this.current_page);
			}	
		}
	},
	beforeRouteEnter(to, from, next) {
		next(vm =>{
			if(from.params.selectedCategories != null){
				vm.selectedCategories = from.params.selectedCategories;
				vm.current_page = from.params.page;
			}else{
				vm.getContent(1);
			}
		});
	},
	methods: {
		async validateUser(){
			try{
				// eslint-disable-next-line no-undef
				const request = await axios.get('./getUser');
				if(request.status === 200){
					this.loggedIn = true;
					this.username = request.data.name;
				}
			}catch(error){
				console.log(error);
			}
        
		},
		async searchContent(query){
			try{
				// eslint-disable-next-line no-undef
				const request = await axios.get('./api/search/'+query);
				this.products = request.data;
			}catch(error){
				console.log(error);
			}
		},
		async getContent(page = 1)
		{	
			try {
				// eslint-disable-next-line no-undef
				const request = await axios.get('./api/products?page='+page);
				this.products = request.data.products;
				this.categories = request.data.categories;
				this.current_page = request.data.current_page;
				this.last_page = request.data.last_page;
				this.updatePagination();
			} catch (error) {
				console.log(error);
			} 
		},
		async filterContent(page = 1){
			try {
				// eslint-disable-next-line no-undef
				const request = await axios.get('./api/products/'+this.selectedCategories+'?page='+page);	
				this.products = request.data.products;
				this.categories = request.data.categories;
				this.current_page = request.data.current_page;
				this.last_page = request.data.last_page;
				this.updatePagination();
				if(request.data.products.length == 0){
					this.current_page--;
					this.filterContent(this.current_page);
				}
			} catch (error) {
				console.log(error);
			}     

		},
		switchPage(page,sort){
			if(sort){
				this.filterContent(page);
			}else{
				this.getContent(page);
			}
		},
		async addToCart(productId){
			try{
				// eslint-disable-next-line no-undef
				const request = await axios.get('./products/add-to-cart/'+productId);
				if(request.data.type == 'success'){
					this.notify(request.data.msg);
				}
			} catch (error){
				if(error.response.status === 401){
					this.notify('Please login to add to cart!');
				}
			}
		},
		updatePagination(){
			this.pages = [];
			for (let index = this.first_page; index <= this.last_page ; index++) {
				this.pages.push(index);                
			}
		},
		notify(text){
			// eslint-disable-next-line no-undef
			Vue.toasted.show(text,{
				action:{
					text : '\u2716',
					onClick : (e, toastObject) =>{
						toastObject.goAway(0);
					}
				},
				duration : 4000
			});
		},
	},
};
</script>