<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <div class="text-danger text-center" v-if="errors">
                            <h5>Could not submit, here's why:</h5>
                            <p v-for="error in errors" v-bind:key="error">{{error}}</p>
                        </div>
                        <form @submit.prevent="register">
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                                <div class="col-md-6">
                                    <input id="name" type="text" class="form-control" required autocomplete="name" autofocus v-model="user.name">
                                    <span class="invalid-feedback" role="alert">
                                        <strong></strong>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email" value="" required autocomplete="email" v-model="user.email">
                                    <span class="invalid-feedback" role="alert">
                                        <strong></strong>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="password" required autocomplete="new-password" v-model="user.password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm password</label>
                                <div class="col-md-6">
                                    <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password" v-model="user.confirmPassword">
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Sign up
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
	beforeCreate: async function () {
		try{
			// eslint-disable-next-line no-undef
			const request = await axios.get('./getUser');
			if(request.status === 200){
				this.$router.push('/');
			}
		} catch(error){
			console.log(error);
		} 
	},
	data() {
		return {
			loginMessage:{
				type:'',
				msg:''
			},
			user: {
				name:'',
				email: '',
				password: '',
				confirmPassword: ''

			},
			errors:false
		};
	},
	mounted(){

	},
	methods: {
		async register(){
			try {
				// eslint-disable-next-line no-undef
				await axios.post('./register',{
					name: this.user.name,
					email: this.user.email,
					password: this.user.password,
					password_confirmation: this.user.confirmPassword
				});
				this.errors = false;
				window.location.replace('./');
			} catch (error) {
				var err = error.response;
				if(err.status === 422){
					this.errors = [];
					if(err.data.errors){
						for(var key in err.data.errors){
							for (const iterator in err.data.errors[key]) {
								this.errors.push(err.data.errors[key][iterator]);
							}
						}
					}
				}
			}
		}
	}
};
</script>
