<template>
    <div class="container">
        <div class="card shopping-cart">
            <div class="card-header text-center">Wishlist</div>
            <div class="card-body" v-for="product in cart" v-bind:key="product.id">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-2 text-center">
                        <img class="img-responsive" :src="product.photo" alt="prewiew" width="80" height="80">
                    </div>
                    <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                        <h4 class="product-name"><strong>{{product.name}} <span v-if="product.product_id">- {{product.variation}}</span></strong></h4>
                    </div>
                    <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                        <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                            <h6><strong>{{product.price}} €</strong></h6>
                            <h6><span class="text-muted">({{calculatePrice(product)}} €)</span></h6>
                        </div>
                        <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                            <h6><strong>Quantity: <span class="text-muted">{{product.quantity}}</span></strong></h6>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="card-footer text-center">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" v-on:click.prevent="mergeCart()" ><button class="btn btn-info">Merge with cart</button></a>
                        <a href="#" v-on:click.prevent="replaceCart()"><button class="btn btn-info">Replace cart</button></a>
                    </div>
                    <div class="col-md-6">
                        Total price: <b>{{total.toFixed(2)}} €</b>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</template>
<script>
export default {
	data(){
		return {
			cart: [],
			product:{},
			total:0,
			productsLink : '',
		};
	},
	mounted()
	{
		if(this.$route.params.wishlist){
			this.getContent();
		}
	},
	methods:{
		async getContent(){
			try{
				// eslint-disable-next-line no-undef
				const request = await axios.get('./getWishlist/'+this.$route.params.wishlist);
				this.cart = request.data;
				this.totalPrice();
			}catch(error){
				console.log(error);
			}
		},
		totalPrice(){
			let price = 0;
			for(var id in this.cart){
				price += this.cart[id].price*this.cart[id].quantity;
			}
			this.total = price;  
		},
		calculatePrice(product){
			let price = (product.price*product.quantity).toFixed(2);
			return price;
		},
		async mergeCart(){
			try{
				// eslint-disable-next-line no-undef
				const request = await axios.post('./cart/merge',{cart : this.cart});
				if(request.data == 'success'){
					this.$router.push('../cart'); 
				}
			}catch(error){
				if(error.response.status === 401){
					this.notify('Please login to access cart!');
				}
			}
			
		},
		async replaceCart(){
			try{
				// eslint-disable-next-line no-undef
				const request = await axios.post('./cart/replace',{cart :this.cart});
				if(request.data == 'success'){
					this.$router.push('../cart'); 
				}
			}catch(error){
				if(error.response.status === 401){
					this.notify('Please login to access cart!');
				}
			}
		},
		notify(text){
			// eslint-disable-next-line no-undef
			Vue.toasted.show(text,{
				action:{
					text : '\u2716',
					onClick : (e, toastObject) =>{
						toastObject.goAway(0);
					}
				},
				duration : 4000
			});
		},
	},
};
</script>

	