/* eslint-disable no-undef */
Header:
<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="container">
        <router-link to="/" class="navbar-brand">Shop</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
            </div>
            <span class="navbar-item">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown"><img style="height:30px;" :src="'./svg/user.svg'"></a>
                    <div class="dropdown-menu dropdown-menu-right" style="min-width:15rem">
                        <div class="card-body" v-if="!loggedIn">
                            <h4 class="card-title text-center">Sign in</h4>
                            <p class="text-center" :class="loginMessage.type">{{loginMessage.msg}}</p>
                            <form @submit.prevent="login">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                        </div>
                                        <input class="form-control" placeholder="Email or login" type="email" v-model="user.email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                        </div>
                                        <input class="form-control" placeholder="******" type="password" v-model="user.pass">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                                </div>
                                <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
                            </form>
                            <hr>
                            <h5>Not a member?</h5>
                            <router-link to="/register" class="btn btn-primary btn-block"> Sign up  </router-link>
                        </div>
                        <div v-else> 
                            <div class="card-body">
                                <h6>Welcome back, {{username}}</h6>
                                <button class="btn btn-danger btn-block" @click="logout()">Log out</button>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <span class="navbar-item" v-if="loggedIn">
                <router-link to="/cart" class="nav-link"><img style="height:30px;" :src="'./svg/shopping-cart.svg'" alt=""></router-link>
            </span>
        </div>
    </nav>    
</template>
<script>
export default {
	data() {
		return {
			loggedIn:false,
			loginMessage:{
				type:'',
				msg:''
			},
			user: {
				email: '',
				pass: '',
			},
			username: ''
		};
	},
	mounted(){
		this.validateUser();
	},
	methods: {
		async validateUser(){
			try{
				// eslint-disable-next-line no-undef
				const request = await axios.get('./getUser');
				if(request.status === 200){
					this.username = request.data.name;
					this.loggedIn = true;
				}
			}catch(error){
				console.log(error.response);
			}
        
		},
		async login() {
			try{
				// eslint-disable-next-line no-undef
				const request = await axios.post('./login',{
					email: this.user.email,
					password: this.user.pass
				});
				if(request.status === 200){
					this.loginMessage = [];
					this.loggedIn = true;
					this.validateUser();
				}
			} catch(error){
				if(error.response.status === 422){
					console.log(error.response);
					this.loginMessage.type = 'text-danger';
					this.loginMessage.msg = 'Invalid username or password!';
				}
			} 
		},
		async logout() {
			try{
				// eslint-disable-next-line no-undef
				const request = await axios.post('./logout');
				if(request.status === 200){
					this.loggedIn = false; 
					this.username = '';
					this.$router.push({ name: 'products'});
				}
			} catch(error){
				console.log(error.response);
			} 
		}
	}
};
</script>

